[Unit]
Description=MultiNodeLauncher Execution Engine
After=docker.service
Requires=docker.service

[Service]
StartLimitBurst=0
TimeoutStartSec=0
Restart=always

# Stop the container if it exists
ExecStartPre=-/usr/bin/docker stop -t 20 {{ mnl_docker_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ mnl_docker_container_name }}

# Pull the latest image
ExecStartPre=-/usr/bin/docker pull {{ mnl_docker_image_url }}

# Start the container
ExecStart=/bin/sh -c '/usr/bin/docker run \
    {% if nvidia_smi_check1 is defined and nvidia_smi_check1.rc == 0 %}{{ mnl_docker_gpus }} {% endif %} \
    {{ mnl_port_forward | default('') }} \
    --rm \
    --privileged \
    --cgroupns=host \
    --name {{ mnl_docker_container_name }} \
    -e EE_ID={{ inventory_hostname }} \
    -v {{ mnl_docker_volume_path }}:{{ mnl_docker_persistent_folder }} \
    {{ mnl_docker_image_url }}; \
    echo $? > /tmp/ee-node.exit'

# Stop the container
ExecStop=/usr/bin/docker stop -t 20 {{ mnl_docker_container_name }}

# Exit code 10 causes a system reboot
{{ mnl_commented_restart | default('') }}ExecStopPost=/bin/sh -c 'EXIT_STATUS=$(cat /tmp/ee-node.exit); if [ "$EXIT_STATUS" -eq 10 ]; then shutdown -r now; fi'

[Install]
WantedBy=multi-user.target