# Managed by ratio1.multi_node_launcher
# R1SETUP_SERVICE_FILE_VERSION={{ mnl_service_version }}
[Unit]
Description=MultiNodeLauncher Execution Engine
After=docker.service
Requires=docker.service

[Service]
StartLimitBurst=0
TimeoutStartSec=0
Restart=always
Environment="R1SETUP_SERVICE_FILE_VERSION={{ mnl_service_version }}"

# Stop the container if it exists
ExecStartPre=-/usr/bin/docker stop -t 20 {{ mnl_docker_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ mnl_docker_container_name }}

# Pull the latest image
ExecStartPre=-/usr/bin/docker pull {{ mnl_docker_image_url }}

# Start the container
ExecStart=/bin/sh -c '/usr/bin/docker run \
    {% if (skip_gpu is not defined or not skip_gpu) and nvidia_smi_check1 is defined and nvidia_smi_check1.rc is defined and nvidia_smi_check1.rc == 0 %}{{ mnl_docker_gpus }} {% endif %} \
    {{ mnl_port_forward | default('') }} \
    --rm \
    --privileged \
    --cgroupns=host \
    --name {{ mnl_docker_container_name }} \
    -e EE_ID={{ r1setup_instance_logical_name | default(inventory_hostname, true) }} \
    -e R1SETUP_METADATA_PATH={{ mnl_r1setup_metadata_container_path }} \
    -v {{ mnl_docker_volume_path }}:{{ mnl_docker_persistent_folder }} \
    {{ mnl_docker_image_url }}; \
    echo $? > {{ r1setup_runtime_exit_status_path | default("/tmp/ee-node.exit", true) }}'

ExecStartPost=-/bin/sh -c 'sleep 30; /usr/bin/docker image prune -a -f --filter "until=120h"'

# Stop the container
ExecStop=/usr/bin/docker stop -t 20 {{ mnl_docker_container_name }}

# Exit code 10 causes a system reboot
{{ mnl_commented_restart | default('') }}ExecStopPost=/bin/sh -c 'EXIT_STATUS=$(cat {{ r1setup_runtime_exit_status_path | default("/tmp/ee-node.exit", true) }}); if [ "$EXIT_STATUS" -eq 10 ]; then shutdown -r now; fi'

[Install]
WantedBy=multi-user.target
