[Unit]
Description=MultiNodeLauncher Execution Engine
After=docker.service
Requires=docker.service

[Service]
StartLimitBurst=0
TimeoutStartSec=0
Restart=always
ExecStartPre=/bin/sh -c 'if [ "$(docker ps -q -f name={{ mnl_docker_image_name }})" ]; then /usr/bin/docker stop -t 20 {{ mnl_docker_image_name }}; fi'
ExecStartPre=-/usr/bin/docker pull {{ mnl_docker_image_url }}
# The following line contains NO tz volumes and will be enabled after backed is updated

ExecStart=/bin/sh -c '/usr/bin/docker run {{ mnl_docker_image_url }} {{ mnl_docker_gpus }} {{ mnl_port_forward  | default('') }} -m {{ mnl_container_memory_limit | default('30GB') }} --rm --cap-add SYSLOG --network=host --env-file {{ mnl_base_folder }}/.env --ipc=host --name {{ mnl_docker_image_name }}  ; echo $? > /tmp/ee-node.exit'

ExecStop=/usr/bin/docker stop -t 20 {{ mnl_docker_image_name }}
{{ mnl_commented_restart | default('') }}ExecStopPost=/bin/sh -c 'EXIT_STATUS=$(cat /tmp/ee-node.exit); if [ "$EXIT_STATUS" -eq 10 ]; then shutdown -r now; fi'


[Install]
WantedBy=multi-user.target
