EDGE_NODE_SERVICE_NAME='{{ edge_node_service_name }}'
MNL_DOCKER_CONTAINER_NAME='{{ mnl_docker_container_name }}'
R1SETUP_INSTANCE_LOGICAL_NAME='{{ r1setup_instance_logical_name | default(inventory_hostname, true) }}'
